@model User

@{
    ViewData["Title"] = "Edit User";
}

<div class="container">
    <h2>Edit User</h2>
    <form asp-action="Edit" method="post">
        <div class="form-group">
            <label asp-for="Id">ID</label>
            <input asp-for="Id" class="form-control" disabled />
        </div>
        <div class="form-group">
            <label asp-for="UserName">Username</label>
            <input asp-for="UserName" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Email">Email</label>
            <input asp-for="Email" class="form-control" />
        </div>
        @* <div class="form-group">
            <label asp-for="CreatedBy">Created By</label>
            <input asp-for="CreatedBy" class="form-control" disabled />
        </div>
        <div class="form-group">
            <label asp-for="CreatedDate">Created Date</label>
            <input asp-for="CreatedDate" class="form-control" disabled />
        </div>
        <div class="form-group">
            <label asp-for="UpdatedBy">Updated By</label>
            <input asp-for="UpdatedBy" class="form-control" disabled />
        </div>
        <div class="form-group">
            <label asp-for="UpdatedDate">Updated Date</label>
            <input asp-for="UpdatedDate" class="form-control" disabled />
        </div> *@
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>
